<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <<<<<<< HEAD=======<link rel="stylesheet" href="css/style.css">
        >>>>>>> 生命週期
        <title>vue 幼幼班</title>
</head>

<body>
    <!-- 190528 vue -->
    <div id="app">
        {{ score * 0.8}}
        <div class="box">
            {{ message }}
        </div>
        <div v-show="loading">訊息載入錯誤1</div>
        <div v-if="loading">訊息載入錯誤2</div>
        <!-- v-model -->
        <input type="text" v-model="score">
        <div v-if="score >= 60">及格</div>
        <div v-if="score < 60">不及格</div>
        <!-- 0530 v-model -->
        {{ score *20 }}
        <!-- v-for -->
        <ul>
            <li v-for="(item, index) in colors" :key="index">
                {{ item }}
                {{ index }}
            </li>
        </ul>
        <!-- v-on，@為縮寫 -->
        <ul>
            <li v-for="(item, index) in home" :key="index" @click="myFather(item.father)">
                {{ item.father }}
            </li>
        </ul>
    </div>

    <!-- 小作品todolist -->
    <div class="appTodolist">
        <input type="text" placeholder="請入代辦事項" @keyup.enter="addTodo(newTodo)" v-model="newTodo">
        <!-- 這邊的v-model就是連接給data的newTodo，然後當在按下enter帶入剛剛綁定後的newTodo -->
        <h2>事項列表</h2>
        <ul>
            <li v-for="(todo, index) in todos" :key="index" :class="{ active: todo.completed }">
                <input type="checkbox" v-model="todo.completed">
                {{ todo.content }}
                -<a href="#" @click.prevent="removeTodo(todo)">刪除</a>
            </li>
        </ul>
    </div>

    <!-- 生命週期 -->
    <div class="test"></div>

    <!-- 0531 匯率計算機 -->
    <div class="calu">
        輸入台幣: <input type="text" v-model="NT">
        <!-- 第一個方法: 邏輯寫在html裡面 -->
        <!-- <ul>
            <li>日幣:{{ NT*0.2936 }}</li>
            <li>美金:{{ NT*31.855 }}</li>
        </ul> -->
        <!-- 第二個方法: 若運算複雜或者有串ajax，就不適合寫在html可讀性會變差 -->
        <ul>
            <li>日幣:{{ japen }}</li>
            <li>美金:{{ usa }}</li>
        </ul>
    </div>

    <!-- BMI -->
    <div class="bmi">
        路人A體質肪:
        <input type="text" v-model="a">
        路人B體質肪:
        <input type="text" v-model="b">
        <ul>
            <li>
                誰的體質肪比較重?: {{ whoheavy }}
            </li>
            <li>
                a跟一班人體質訪差多少?{{ judegeA }}
            </li>
        </ul>
    </div>

    <!-- v-bind -->
    <div class="imgBind">
        <img :src="imgUrl" alt="">
    </div>

    <!-- github repo -->
    <div class="github">
        <h1>Latest Vue.js commits</h1>
        <template v-for="(branch, index) in branches">
            <input type="radio" v-model="currentBranch" :value="branch"> {{branch}}
        </template>

        <p>vue.js/vue@{{currentBranch}}</p>
        <ul>
            <li v-for="(record, index) in commits">
                <a :href="record.html_url" target="_blank">
                    更新紀錄
                </a>
                - by <span><a :href="record.author.html_url" target="_blank">
                        {{record.commit.author.name}}</a></span>
                at <span> {{record.commit.author.date}} </span>
            </li>
        </ul>
    </div>

    <!-- vue cdn unpkg-->
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="js/all.js"></script>
</body>

</html>